#order-form{
    border: 2px solid grey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
    width: 20%;
    margin: 80px auto;
}
input{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
}

#confirm{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30%;
    background-color: yellow;
}
#confirm:hover{
    background-color: green;
}